{% extends base_template %}
{% load i18n %}
{% load xadmin_tags %}

{% block extrastyle %}
<style type="text/css">
  .btn-toolbar{margin-top: 0;}
  #content-block.full-content{margin-left: 0;}
</style>
{% endblock %}
{% block bodyclass %}change-list{% endblock %}

{% block nav_title %}{% if brand_icon %}<i class="{{brand_icon}}"></i> {% endif %}{{brand_name}}{% endblock %}

{% block nav_toggles %}
{% include "xadmin/includes/toggle_menu.html" %}
{% if has_add_permission %}
  <a href="{{add_url}}" class="navbar-toggle pull-right"><i class="fa fa-plus"></i></a>
{% endif %}
<button class="navbar-toggle pull-right" data-toggle="collapse" data-target=".content-navbar .navbar-collapse">
  <i class="fa fa-filter"></i>
</button>
{% endblock %}

{% block nav_btns %}
  {% if has_add_permission %}
    <!--<a href="#" class="btn btn-primary" id="submit_an_issue"><i class="fa fa-plus"></i> Submit an item </a>-->
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="submit_an_issue"><i class="fa fa-plus"></i> Submit an item</button>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					Ramp&Sustain Form
				</h4>
			</div>
			<div class="modal-body">
                <!-- tab 分頁 -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mb-3" style="border:none;">
                                <div class="card-body">
                                    <ul class="nav nav-tabs justify-content-end" role="tablist" id="myTab">
                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#DFM-tab-page" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Basic information</span></a> </li>
                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#SystemCosmetic-tab-page" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Root Cause & Solution</span></a> </li>
                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Sustaining-tab-page" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Key information</span></a> </li>
                                    </ul>
                                    <!-- tab 內頁 -->
                                    <div class="tab-content tabcontent-border p-10">


                                        <!-- DFM-tab-page -->
                                        <div class="tab-pane active  p-20" role="tabpanel" id="DFM-tab-page">
                                            <div class="row ">
                                                <div class="col-xl-12 col-lg-12 mt-4">
                                                    <div class="card shadow mb-2 h-100">
                                                        <form>
                                                          <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                              <label for="inputState">Platform</label>
                                                              <select id="inputState11" class="form-control">
                                                                <option selected>Choose...</option>
                                                                <option>...</option>
                                                              </select>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                              <label for="inputState">Stage</label>
                                                              <select id="inputState222" class="form-control">
                                                                <option selected>Choose...</option>
                                                                <option>...</option>
                                                              </select>
                                                            </div>
                                                          </div>

                                                          <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                              <label for="inputState">Status</label>
                                                              <select id="inputState2" class="form-control">
                                                                <option selected>Choose...</option>
                                                                <option>...</option>
                                                              </select>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                              <label for="inputState">Priority</label>
                                                              <select id="inputState3" class="form-control">
                                                                <option selected>Choose...</option>
                                                                <option>...</option>
                                                              </select>
                                                            </div>
                                                          </div>

                                                          <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                              <label for="inputState">Biz impact</label>
                                                                <input type="text" class="form-control" id="inputEmail3" placeholder="Biz impact">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                              <label for="inputState">Issue is from</label>
                                                              <select id="inputState5" class="form-control">
                                                                <option selected>Choose...</option>
                                                                <option>...</option>
                                                              </select>
                                                            </div>
                                                          </div>

                                                            <div class="form-group">
                                                            <label for="inputAddress2">Issue decription</label>
                                                            <textarea class="form-control" id="inputAddress2" rows="3"></textarea>

                                                          </div>

                                                            <div class="form-group">
                                                            <label for="inputAddress2">Issue analysis</label>
                                                            <textarea class="form-control" id="inputAddress23" rows="3"></textarea>

                                                          </div>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- DFM-tab-page -->


                                        <!-- SystemCosmetic-tab-page -->
                                         <div class="tab-pane  p-20" role="tabpanel" id="SystemCosmetic-tab-page" >
                                            <form>
                                                <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                              <label for="inputState">Root Cause</label>
                                                                <input type="text" class="form-control" id="inputEmail3" placeholder="Biz impact">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                              <label for="inputState">R/C Category</label>
                                                              <select id="inputState5" class="form-control">
                                                                <option selected>Choose...</option>
                                                                <option>...</option>
                                                              </select>
                                                            </div>
                                                          </div>
                                                <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                              <label for="inputState">Short Term</label>
                                                                <input type="text" class="form-control" id="inputEmail3" placeholder="Biz impact">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                              <label for="inputState">S/T Category</label>
                                                              <select id="inputState5" class="form-control">
                                                                <option selected>Choose...</option>
                                                                <option>...</option>
                                                              </select>
                                                            </div>
                                                          </div>
                                                <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                              <label for="inputState">Long Term</label>
                                                                <input type="text" class="form-control" id="inputEmail3" placeholder="Biz impact">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                              <label for="inputState">L/T Category</label>
                                                              <select id="inputState5" class="form-control">
                                                                <option selected>Choose...</option>
                                                                <option>...</option>
                                                              </select>
                                                            </div>
                                                          </div>
                                            </form>
                                         </div>
                                        <!-- SystemCosmetic-tab-page -->

                                         <!-- Sustaining-tab-page -->
                                         <div class="tab-pane  p-20" role="tabpanel" id="Sustaining-tab-page">
                                             <form>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                      <label for="inputState">Impact scope</label>
                                                      <select id="inputState5" class="form-control">
                                                        <option selected>Choose...</option>
                                                        <option>...</option>
                                                      </select>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                      <label for="inputState">Total input</label>
                                                        <input type="number" class="form-control" id="inputEmail3" placeholder="Biz impact">
                                                    </div>
                                                  </div>

                                                 <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                      <label for="inputState">Defect</label>
                                                        <input type="number" class="form-control" id="inputEmail3" placeholder="Biz impact">
                                                    </div>
                                                     <div class="form-group col-md-6">
                                                          <label for="exampleFormControlFile1">Choose file</label>
                                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                               </div>

                                                  </div>


                                             </form>
                                        </div>
                                        <!-- Sustaining-tab-page -->
                                    </div>
                                    <!-- tab 內頁 -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  tab 分頁 -->



			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close
				</button>
				<button type="button" class="btn btn-primary">
					Sumbit
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
    {% for group in request.user.groups.all %}
      {% if group.name == 'Admin' %}
        <a href="{{add_url}}" class="btn btn-primary"><i class="fa fa-plus"></i>{% blocktrans with cl.opts.verbose_name as name %} {{ name }} {% endblocktrans %}</a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock nav_btns %}

{% block content %}
  <div class="content-toolbar btn-toolbar pull-right clearfix">
    {% view_block 'top_toolbar' %}
    {% block toolbar_column %}
    <div class="btn-group">
      <a class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown" href="#">
        <i class="fa fa-list-alt"></i> {% trans "Columns" %} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu model_fields pull-right" role="menu" aria-labelledby="dLabel">
        <li><a href="{{clean_select_field_url}}"><i class="fa fa-refresh"></i> {% trans "Restore Selected" %}</a></li>
        <li class="divider"></li>
        {% for f, selected, flink in model_fields %}
        <li><a href="{{flink}}">
          {% if selected %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-blank"></i>{% endif %}
          {{f.verbose_name}}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endblock toolbar_column %}
    {% block toolbar_layouts %}
    <div class="btn-group layout-btns" data-toggle="buttons">
      <label class="btn btn-default btn-sm layout-normal ">
        <input type="radio"> <i class="fa fa-th-large"></i>
      </label>
      <label class="btn btn-default btn-sm layout-condensed active">
        <input type="radio"> <i class="fa fa-th"></i>
      </label>
      {% view_block 'top_layout_btns' %}
    </div>
    {% endblock toolbar_layouts %}
    {% block toolbar_fullscreen %}
    <div class="btn-group layout-btns" data-toggle="buttons-checkbox">
      <button type="button" class="btn btn-default btn-sm layout-full"><i class="fa fa-expand"></i></button>
      {% view_block 'top_check_btns' %}
    </div>
    {% endblock toolbar_fullscreen %}
    {% view_block 'top_btns' %}
  </div>

  <ul class="pagination pagination-sm pagination-left pagination-inline">
    {% view_block 'pagination' 'small' %}
  </ul>

  <form id="changelist-form" action="" method="post" {% view_block 'result_list_form' %}> {% csrf_token %}
  {% view_block 'results_top' %}
  <div class="results table-responsive">
  {% if results %}
  {% block results_grid %}
  <table class="table table-bordered table-striped table-hover table-condensed">
    {% block results_grid_head %}
    <thead>
      <tr>{% for o in result_headers.cells %}
        <th {{o.tagattrs}}>
          {% if o.btns %}
            <div class="pull-right">
              {% for b in o.btns %}
                {{b|safe}}
              {% endfor %}
            </div>
          {% endif %}
          {% if o.menus %}
            <div class="dropdown pull-left">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ o.label }}
              </a>
              <ul class="dropdown-menu" role="menu">
                {% for m in o.menus %}
                  {{m|safe}}
                {% endfor %}
              </ul>
            </div>
          {% else %}
            {{ o.label }}
          {% endif %}
        </th>{% endfor %}
      </tr>
      {% view_block 'result_head' %}
    </thead>
    {% endblock results_grid_head %}
    {% block results_grid_body %}
    <tbody>
    {% for row in results %}
      <tr class="grid-item{% if row.css_class %} {{row.css_class}}{%endif%}" {{ row.tagattrs }}>{% for o in row.cells %}
        <td {{o.tagattrs}}>
          {% if o.btns %}
            <div class="btn-group pull-right">
              {% for b in o.btns %}
                {{b|safe}}
              {% endfor %}
            </div>
          {% endif %}
          {% if o.menus %}
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ o.label }}
              </a>
              <ul class="dropdown-menu">
                {% for m in o.menus %}
                  {{m|safe}}
                {% endfor %}
              </ul>
            </div>
          {% else %}
            {{ o.label }}
          {% endif %}
        </td>
      {% endfor %}</tr>
      {% view_block 'result_row' row %}
    {% endfor %}
    </tbody>
    {% endblock results_grid_body %}
  </table>
  {% endblock results_grid %}
  {% else %}
    <p class="well">{% trans "Empty list" %}</p>
  {% endif %}
  </div>
  {% view_block 'results_bottom' %}
  </form>

  <ul class="pagination">
    {% view_block 'pagination' %}
  </ul>

<script src="{% static 'xadmin/js/product_sync_pulsar.js'%}"></script>
{% endblock %}
